<h1>Archery Report </h1>

<!-- display current date -->

  <script language="JavaScript">
    function mdy(todaysdate) {
    //calls the function mdy why to get our date
    return todaysdate.getMonth()+1+"/"+todaysdate.getDate()+"/"+todaysdate.getYear()
    }
  </script>

<script language="JavaScript">
  sampleDate1=new Date()
  document.write ("Today's date is "+ mdy(sampleDate1))
</script>

